{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static '/home/css/style.css' %}">

</head>
<body>
    <p>Hello World</p>
    <!-- <a href="{% url 'login' %}">Already user ? Go to login</a><br> -->
    <a href="{% url 'logout' %}">Logout</a>

    <br>
    <br>
    <div class="row">
        <a href="{% url 'ocrHome' %}" class="rowEllement">
            <p>Reconaissance de caracteres</p>
            <p>Avec notre OCR, vous pourrez faire de la reconaissance de lettres.</p>
        </a>
        <a href="{% url 'removeBgHome' %}" class="rowEllement">
            <p>Bg Remover</p>
            <p>Utilisez notre systeme pour detourer des images facilement.</p>
        </a>
        <a href="{% url 'ttsHome' %}" class="rowEllement">
            <p>Synthese vocale</p>
            <p>Basé sur notre TTS, vous pourrez generer des fichier son a partit de fichier texte.</p>
        </a>
        <a href="{% url 'cnnHome' %}" class="rowEllement">
            <p>Reconaissance image</p>
            <p>Notre CNN vous permetras de differencier les chat des chien.</p>
        </a>
        <a href="#" class="rowEllement">
            <p>Reconaissance vocale avec Google API</p>
            <p>Utiliser simplement la reconaissance vocale de Google, on s'occupe de tout !</p>
        </a>
    </div>
</body>
</html>