{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ocr/style.css' %}">

</head>
<body>
    <p>Bienvenue sur la doc de l'OCR</p>
    <!-- <a href="{% url 'login' %}">Already user ? Go to login</a><br> -->
    <a href="{% url 'logout' %}">Logout</a><br>
    <a href="{% url 'Home' %}">Retour au menu</a>

    <p>Pour utiliser l'API de l'OCR, il suffit de faire une requête post à l'url suivante, avec un paramètre "image" ( de type fichier jpg ) comprenant l'image à traiter; Cela retournera le texte détecté sous forme de chaine de caractères</p>

    <pre>
        {% url 'proceedOcr' %}
    </pre>

    <form action="{% url 'proceedOcr' %}" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Send</button>
    </form>

</body>
</html>