{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image classifier</title>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'b/css/style.css' %}"> -->

</head>
<body>
    <p>Bienvenue sur la doc de l'image classifiée</p>
    <!-- <a href="{% url 'login' %}">Already user ? Go to login</a><br> -->
    <a href="{% url 'logout' %}">Logout</a><br>
    <a href="{% url 'Home' %}">Retour au menu</a>

    <p>Pour utiliser l'API de l'image classifiée, il suffit de faire une requête post à l'url suivante, avec un paramètre image ( de type fichier jpg ) comprenant l'image à classifier; Cela retournera le type détecté</p>

    <pre>
        {% url 'classifierCatDogEndpoint' %}
    </pre>

    <form action="{% url 'classifierCatDogEndpoint' %}" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Send</button>
    </form>

</body>
</html>